data/xml/agenda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Élément racine -->
  <xs:element name="agenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cours" type="CoursType"
                    minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Type d'un cours -->
  <xs:complexType name="CoursType">
    <xs:sequence>
      <xs:element name="titre"      type="xs:string"/>
      <xs:element name="date"       type="xs:date"/>
      <xs:element name="horaire"    type="HoraireType"/>
      <xs:element name="salle"      type="xs:string"/>
      <xs:element name="enseignant" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Horaire : attributs debut et fin au format HH:MM -->
  <xs:complexType name="HoraireType">
    <xs:attribute name="debut" type="HeureType" use="required"/>
    <xs:attribute name="fin"   type="HeureType" use="required"/>
  </xs:complexType>

  <!-- Restriction HH:MM -->
  <xs:simpleType name="HeureType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
